BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
ColumnLimit: 70

AllowShortFunctionsOnASingleLine: Inline

BreakBeforeBraces: Allman

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true


PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
SpaceBeforeParens: ControlStatements